/***
 *
 *                                                                                         bbbbbbbb
 *    VVVVVVVV           VVVVVVVV                                   iiii                   b::::::b            lllllll
 *    V::::::V           V::::::V                                  i::::i                  b::::::b            l:::::l
 *    V::::::V           V::::::V                                   iiii                   b::::::b            l:::::l
 *    V::::::V           V::::::V                                                           b:::::b            l:::::l
 *     V:::::V           V:::::Vaaaaaaaaaaaaa  rrrrr   rrrrrrrrr  iiiiiii   aaaaaaaaaaaaa   b:::::bbbbbbbbb     l::::l     eeeeeeeeeeee        ssssssssss
 *      V:::::V         V:::::V a::::::::::::a r::::rrr:::::::::r i:::::i   a::::::::::::a  b::::::::::::::bb   l::::l   ee::::::::::::ee    ss::::::::::s
 *       V:::::V       V:::::V  aaaaaaaaa:::::ar:::::::::::::::::r i::::i   aaaaaaaaa:::::a b::::::::::::::::b  l::::l  e::::::eeeee:::::eess:::::::::::::s
 *        V:::::V     V:::::V            a::::arr::::::rrrrr::::::ri::::i            a::::a b:::::bbbbb:::::::b l::::l e::::::e     e:::::es::::::ssss:::::s
 *         V:::::V   V:::::V      aaaaaaa:::::a r:::::r     r:::::ri::::i     aaaaaaa:::::a b:::::b    b::::::b l::::l e:::::::eeeee::::::e s:::::s  ssssss
 *          V:::::V V:::::V     aa::::::::::::a r:::::r     rrrrrrri::::i   aa::::::::::::a b:::::b     b:::::b l::::l e:::::::::::::::::e    s::::::s
 *           V:::::V:::::V     a::::aaaa::::::a r:::::r            i::::i  a::::aaaa::::::a b:::::b     b:::::b l::::l e::::::eeeeeeeeeee        s::::::s
 *            V:::::::::V     a::::a    a:::::a r:::::r            i::::i a::::a    a:::::a b:::::b     b:::::b l::::l e:::::::e           ssssss   s:::::s
 *             V:::::::V      a::::a    a:::::a r:::::r           i::::::ia::::a    a:::::a b:::::bbbbbb::::::bl::::::le::::::::e          s:::::ssss::::::s
 *              V:::::V       a:::::aaaa::::::a r:::::r           i::::::ia:::::aaaa::::::a b::::::::::::::::b l::::::l e::::::::eeeeeeee  s::::::::::::::s
 *               V:::V         a::::::::::aa:::ar:::::r           i::::::i a::::::::::aa:::ab:::::::::::::::b  l::::::l  ee:::::::::::::e   s:::::::::::ss
 *                VVV           aaaaaaaaaa  aaaarrrrrrr           iiiiiiii  aaaaaaaaaa  aaaabbbbbbbbbbbbbbbb   llllllll    eeeeeeeeeeeeee    sssssssssss
 *
 */

/* Colors */
$primary-color: #000000;
$secondary-color: #1e2023;
$third-color: #262425;
$custom-green-color: #5df218;
$custom-fuchsia-color: #A6009E;

$primary-font-color:#ffffff;

/* Fonts type */
$primary-font: 'Fira Sans', sans-serif;

/* Transitions utils */
$transition-length: .8;

/* Utils */
$curve-constant:40;

