@import "./../../../assets/style/variables.scss";

/* Component styles */
.character {
  display: inline-block;
  position: relative;
  width: 20vw;
  min-width: 20vw;
  height: 40vh;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
}

.character-profile-img {
  height: 73%;
  width: 73%;
}

.character-description-bg {
  border-radius: 30px;
  position: absolute;
  top: 65%;
  left: -5px;
  height: 65%;
  width: 108%;
  transform: skew(19deg, -9deg);
}

.character-description {
  position: absolute;
  color: $primary-font-color;
  font-weight: 900;
  left: 1rem;
  bottom: 4rem;
  font-size: 1.5rem;

}

.character-info {
  position: absolute;
  color: $primary-font-color;
  left: 1rem;
  bottom: 2rem;
  font-size: 1.5rem;
  display: flex;
}

.character-status {
  height: 10px;
  width: 10px;
  border-radius: 20px;
  margin: auto 1rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.blue-bg{
  background-image: linear-gradient(0deg, #00FFF5, #00B3AC);
}

.green-bg{
  background-image: linear-gradient(0deg, #38B300, #5df218);
}

.fuchsia-bg{
  background-image: linear-gradient(0deg, #000000, #FF0EF3);
}

.orange-bg{
  background-image: linear-gradient(0deg, #FF5900, #FF6A19);
}

.gray-bg{
  background-image: linear-gradient(0deg,  $secondary-color,  $secondary-color);
}

.live{
  background-color: rgb(107, 245, 72);
}

.unknown{
  background-color:#000000;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .hero {
    width: 80vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .hero {
    width: 60vw;
  }
}

@media only screen and  (min-width: 768px) and (max-width: 992px) {
  .hero {
    width: 30vw;
    height: 35vw;
  }
}

@media only screen and  (min-width: 992px) and (max-width: 1200px) {
  .hero {
    width: 27vw;
  }
}

@media only screen and  (min-width: 1201px) {
  .hero {
    width: 20vw;
    height: 25vw;
  }
}

@media only screen and  (min-width: 1400px) {
  .hero {
    width: 20vw;
  }
}
