  <li *ngIf="character !== null">
    <a routerLink="/character/{{ character.id}}" class="card" >
      <img src="{{ character.image }}" class="card__image" alt="" />
      <div class="card__overlay"    [ngClass]="{'orange-bg':character.gender === 'Male', 'fuchsia-bg':character.gender === 'Female', 'blue-bg':character.gender === 'unknown'}">
        <div class="card__header" [ngClass]="{'orange-bg':character.gender === 'Male', 'fuchsia-bg':character.gender === 'Female', 'blue-bg':character.gender === 'unknown'}">
          <svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path [ngClass]="{'orange-bg':character.gender === 'Male', 'fuchsia-bg':character.gender === 'Female', 'blue-bg':character.gender === 'unknown'}"/></svg>
          <img class="card__thumb" src="{{logo}}" alt="" />
          <div class="card__header-text">
            <h3 class="card__title">{{ character.name }} | {{ character.species }}</h3>
            <span class="card__status">{{ character.location.name }}</span>
          </div>
        </div>
        <p class="card__description">{{ character.gender }} | {{ character.type }}</p>
      </div>
    </a>
  </li>
