<div class="character" *ngIf="character !== null" [ngClass]="{'blue-bg':character.gender === 'Male', 'green-bg':character.gender === 'Female' || character.gender === 'unknown'}">
  <img loading="lazy" class="character-profile-img" src="{{ character.image }}" alt="">
  <div class="character-description-bg" [ngClass]="{'orange-bg':character.gender === 'Male', 'fuchsia-bg':character.gender === 'Female', 'gray-bg':character.gender === 'unknown'}">
  </div>
  <div class="character-description">
    <p>{{ character.name }}</p>
  </div>
  <div class="character-info">
    <div class="character-status" [ngClass]="{'live':character.status === 'Alive','unknown':character.status !== 'Alive'}"></div>
    <div>
      <p>{{ character.status }} - {{ character.species }}</p>
    </div>
  </div>
</div>
