@import "./../../../assets/style/variables.scss";

/* Component styles */
.character {
  display: inline-block;
  position: relative;
  width: 20vw;
  min-width: 20vw;
  height: 40vh;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
  margin: 30px;
}

.character-profile-img {
  height: 73%;
  width: 73%;
}


.character-description-bg {
  border-radius: 30px;
  position: absolute;
  top: 65%;
  left: -5px;
  height: 65%;
  width: 108%;
  transform: skew(19deg, -9deg);
}

.character-logo {
  height: 4rem;
  width: 94%;
  border-radius: 20px;
  background-color: $custom-green-color;
  position: absolute;
  bottom: 3%;
  left: 3%;
  overflow:hidden;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}
.character-description {
  position: absolute;
  color: $primary-font-color;
  font-weight: 900;
  left:  5%;
  bottom: 25%;
  font-size: 1.5rem;
  border-radius: 24px;
  width: 20rem;
}

.character-info {
  position: absolute;
  color: $primary-font-color;
  left: 1rem;
  bottom: 2rem;
  font-size: 1.5rem;
  display: flex;
}

.character-status {
  height: 10px;
  width: 10px;
  border-radius: 20px;
  margin: auto 1rem;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc($curve-constant * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  border-radius: calc($curve-constant * 1px);
  background-color: $custom-green-color;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc($curve-constant * 1px) 0 0 0;
  background-color: $custom-green-color;
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: $primary-font-color;
}

.card__status {
  font-size: .8em;
  color: $primary-font-color;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: $primary-font-color;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}


/* Utils */

.green-bg{
  fill:$custom-green-color;
  background-color: $custom-green-color;
}

.fuchsia-bg{
  fill: #c501e2;
  background-color: #c501e2;
}

.orange-bg{
  fill:#FF6A19;
  background-color: #FF6A19;
}

.blue-bg{
  fill:#3a93bd ;
  background-color: #3a93bd ;
}

.live{
  background-color: rgb(107, 245, 72);
}

.unknown{
  fill:#000000;
  background-color:#000000;
}

