<div class="container">
  <div class="search-container">
    <input type="text" name="search" id="search"  placeholder="Search..." class="search-input"
      (keyup)="searchQuery($event)" autocomplete="off">
    <div class="history-search">
      <div class="item-history" *ngFor="let item of history | async">
        <div class="history-icon">
          <fa-icon [icon]="faClock" class="fa-icon"></fa-icon>
        </div>
        <div class="query">
          {{ item.query }}
        </div>
        <div class="delete-icon">
          <fa-icon [icon]="faX" class="fa-icon"></fa-icon>
        </div>
      </div>

      <div class="item-history" *ngIf="(history | async)?.length === 0">
        <div class="no-recent-searches">
          No recents searches
        </div>
      </div>
    </div>
    <a (click)="clearSearch()" class="search-btn" *ngIf="searching">
      <fa-icon [icon]="faX" class="fa-icon"></fa-icon>
    </a>
    <a onclick="alert('Click')" class="search-btn" *ngIf="!searching">
      <fa-icon [icon]="faSearch" class="fa-icon"></fa-icon>
    </a>
  </div>


</div>
