@import "./../../../assets/style/variables.scss";

/* Component styles */
.menu-icon {
  color: $custom-green-color;
  $size: 30px;
  height: $size;
  width: $size;
  position: fixed;
  z-index: 3;
  left: 50px;
  top: 30px;
  cursor: pointer;

  &__line {
    height: 2px;
    width: $size;
    display: block;
    background-color: $custom-green-color;
    margin-bottom: 4px;
    transition: transform .2s ease, background-color .5s ease;
  }

  &__line-left {
    width: $size / 2;
  }

  &__line-right {
    width: $size / 2;
    float: right;
  }
}

.nav {
  color: $custom-green-color;
  $width: 100vw;
  $height: 100vh;
  $font-size-calc: calc(2vw + 10px);
  $transition-easing: cubic-bezier(.77, 0, .175, 1);
  position: fixed;
  z-index: 2;

  &:before,
  &:after {
    content: "";
    position: fixed;
    width: $width;
    height: $height;
    background: $third-color;
    z-index: -1;
    transition: transform $transition-easing $transition-length + s;
    transform: translateX(0%) translateY(-100%);
  }
  &:before {
    transition-delay: .1s;
  }

  &__content {
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    width: 100%;
    text-align: center;
    font-size: $font-size-calc;
    font-weight: 200;
    cursor: pointer;
  }

  &__list-item {
    position: relative;
    display: inline-block;
    transition-delay: $transition-length + s;
    opacity: 0;
    transform: translate(0%, 100%);
    transition: opacity .2s ease, transform .3s ease;
    margin-right: 5rem;

    &:before {
      content: "";
      position: absolute;
      background: $custom-green-color;
      width: 20px;
      height: 1px;
      top: 100%;
      transform: translate(0%, 0%);
      transition: all .3s ease;
      z-index: -1;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }
  }
}

/* Responsive */
@media only screen and (max-width: 768px) {
  .nav {
    &__list-item {
      display: flex;
      width: auto;
      align-items: center;
      justify-content: center;
      margin: 4rem auto;
      width: 20%;
    }
  }
}
