<div class="bg-primary full-height full-width">
  <div>
    <app-top-bar></app-top-bar>
    <app-search-bar (searchChange)="searchChangeLisenter($event)"></app-search-bar>
  </div>
  <div *ngIf="loading" class="loader">
    <app-loader></app-loader>
  </div>
  <div class="site-content">
    <div *ngIf="!loading" class="characters">
      <div *ngIf="notFound" class="not-found">
        <h1 class="site-content__headline">
          Not results found
        </h1>
      </div>
      <div class="cards">
        <div *ngFor="let character of characters | async">
          <app-character-card [character]="character"></app-character-card>
        </div>
      </div>

    </div>
  </div>
</div>
