<div class="bg-primary full-height full-width">
  <div>
    <app-top-bar></app-top-bar>
    <app-search-bar (searchChange)="searchChangeLisenter($event)"></app-search-bar>
  </div>
  <div class="site-content">

    <div class="characters">
      <div *ngIf="notFound" class="not-found">
        <h1 class="site-content__headline" >
          Not results found
        </h1>
      </div>

      <div *ngFor="let character of characters | async">
        <app-character-card [character]="character"></app-character-card>
      </div>
    </div>
  </div>
</div>
