@import "./../../../assets/style/variables.scss";

/* Page styles */


.characters {
 width: 90vw;
}

.search-bar {
  margin-left: 2.5vw;
  margin-top: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.not-found {
  margin-top: 10vh;
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 6rem 5vw;
  padding: 0;
  list-style-type: none;
}
