
@import "./assets/style/variables.scss";

* {
  margin: 0;
  padding: 0;

}

body {
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utils */

.container {
  width: 100vw;
}

.full-height {
  min-height: 100vh;
  height: 100%;
}

/* Backgrounds */

.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}

.bg-orange {
  background-color: $custom-orange-color;
  color: $primary-color;

}
.bg-blue{
  background-color: $custom-blue-color ;
}
.bg-green {
  background-color: $custom-green-color;

}
.bg-fuchsia {
  background-color: $custom-fuchsia-color;
  color: $primary-font-color;
}


/* Loader */

.loader {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Root styles */

.site-content {
  display: grid;
  align-items: center;
  justify-content: center;

  &__headline {
    text-align: center;
    font-weight: 200;
    color: $primary-font-color;
    font-size: calc(2vw + 10px);
  }
}

body.nav-active {
  $menu--items--count: 4;

  .menu-icon {
    &__line {
      color: $custom-green-color;
      transform: translateX(0px) rotate(-45deg);
    }

    &__line-left {
      transform: translateX(1px) rotate(45deg);
    }

    &__line-right {
      transform: translateX(-2px) rotate(45deg);
    }
  }

  .nav {
    visibility: visible;

    &:before,
    &:after {
      transform: translateX(0%) translateY(0%);
    }

    &:after {
      transition-delay: .1s;
    }

    &:before {
      transition-delay: 0s;
    }

    &__list-item {
      opacity: 1;
      transform: translateX(0%);
      transition: opacity .3s ease, transform .3s ease, color .3s ease;

      @for $i from 0 through $menu--items--count {
        &:nth-child(#{$i}) {
          transition-delay: $transition-length * $i / 8 + .5 + s;
        }
      }
    }
  }
}
